{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

readonly BREW_URL='https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh'
readonly BREW_FILE='{{ .chezmoi.sourceDir }}/Brewfile'

if command -v brew >/dev/null 2>&1; then
    :
else
    /bin/bash -c "$(curl -fsSL $BREW_URL)"
fi
#brew bundle --no-lock --file="$BREW_FILE"
{{ end -}}
